PROD=true
GIN_MODE=release
DB_HOST=postgres
DB_PORT=5432
DB_USER=cg3user
DB_PASS=cg3pass
DB_NAME=cg3
SERVER_ADDRESS=0.0.0.0:8080
JWT_SECRET=secret
JWT_EXPIRATION=86400
POSTGRES_USER=cg3user
POSTGRES_PASSWORD=cg3pass
POSTGRES_DB=cg3
RABBITMQ_USER=rabbit
RABBITMQ_PASS=rabbit
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_QUEUE=check
CG3_DOCKER_IMAGE=kisbogdan/cg3-checker
